.content {
    margin: auto;
    width: 90%;
    max-width: 800px;
    display: none;
}

.header {
    text-align: center;
}

.header h1 {
    margin-bottom: 0px;
}

.navbar {
    overflow: hidden;
    margin: auto;
    display: table;
}

.navbar li{
    float: left;
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

p { font-family: sans-serif; }